body{
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    font-size:18px;
    line-height:34px;
    background: url(/Users/yssabelpangilinan/Desktop/Basic-Portfolio/assets/images/webb.png;)
    
}

header{
    position:fixed;
    align:center;
    z-index:99;
    width:100%;
    max-width:960px;
    margin: 0 0 30px;
    overflow:auto;
    background:#ffffff;
    color: #ffffff;
    border-bottom:2px solid #cccccc;
    text-align: center;

}

.username{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: #4aaaa5;
    color: #ffffff;
    text-align: center;
    margin-top:50px;
    margin-left:50px;
    font-weight:700;
    width: 400px;
    height:90px;
    padding: 5px;
    float: left;

}

.navigation{
    display:inline-block;
    padding-left:15px;
    margin-left:15px;
    line-height:18px;
    color: #999999;
    font-family: Arial, Helvetica, sans-serif;
    background: #ffffff;
    text-decoration:none;
    border-left: 1px solid #efefef;
    float: right;
    margin-top:100px;


}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:left;
    padding: 10px;
    border-bottom: 1px solid #666666;
}   

.container-aboutme{
    text-align: center;
    padding-top:130px;
    width:100%;
    max-width:960px;
    margin:0 auto;
    clear:both;

}
#about-me{
    max-width:960px;
    font-size: 18px;
    float:left;
    width:100%;
    text-align:center;

}

#p{
    float:left;
}

.footer{
    padding:30px 0;
    clear:both;
    font-size:12px;
    color:#ffffff;
    color:#cccccc;
    text-align:center;
    background: #666666;
    border-top:8px solid #4aaaa5;
}